<form>
  <input id="form-title" type="text" placeholder="title">
  <input id="form-body" type="text" placeholder="body">
  <input id="form-author" type="text" placeholder="author">
  <input id="form-avatar-url" type="text" placeholder="avatar url">
  <button id="form-submit">Submit</button>
</form>