<form>
  <input id = "form-author" type="text" placeholder="Author">
  <input id = "form-avatar" type="text" placeholder="Avatar_Url">
  <input id = "form-title" type="text" placeholder="Title">
  <input id = "form-body" type="text" placeholder="Body">
  <button class= "create">Grumble Away!</button>
</form>
