<div class="avatar">
  <img src="{{avatar_url}}"/>
</div>
<div class="grumble-info">
  <p>
    {{title}}
  </p>
  <p>
    {{author}}
  </p>
  <p>
    {{body}}
  </p>
  <button id="delete-button">Delete</button>
</div>
