  <img src='{{avatar_url}}'>
    <div class='grumble-info'>
      <p>Author: {{author}}</p>
      <p>Title: {{title}}</p>
      <p>Body: {{body}}</p>
      <button class = "delete">Delete</button>
    </div>
